<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="${title + 'serviceForm'}"></title>
    </head>

    <body>
        <div th:include="top :: html"></div>
        <div class="contentDiv">
            <legend>
                <strong><label th:text="${action}"></label> service</strong>
            </legend>

            <form action="/kong/services/save" method="post" class="form-horizontal">
                <input type="hidden" th:value="${service.id}" id="service_id" name="id"/>
                <div class="form-group">
                    <label for="service_name" class="col-sm-2 control-label">name</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="service_name" name="name" th:value="${service.name}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="service_url" class="col-sm-2 control-label">url:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="service_url" name="url" th:value="${service.url}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" type="submit" value="submit"/>&nbsp;&nbsp;
                        <input class="btn " type="button" value="go back" onclick="history.back()"/>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>