<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8">
    <title>top</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">kong-dashboard</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/kong/services">services</a></li>
                <li><a href="/kong/routes">routes</a></li>
                <li><a href="/kong/plugins">plugins</a></li>
                <li><a href="/kong/consumers">consumers</a></li>
                <li><a href="/logout">logout</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
<!--
<div class="contentdiv">
    <h2> kong-dashboard</h2>
    <label>

    <span> <a href="/kong/services">services</a> </span>
    <span> <a href="/kong/routes">routes</a> </span>
    <span> <a href="/kong/plugins">plugins</a> </span>
    <span> <a href="/kong/consumers">consumers</a> </span>
    <span> <a href="/logout">logout</a> </span>
    </label>
</div>-->

</body>
</html>